.app-header {
  background-color: #6EB974;
  display: flex;
  padding: 15px 0 ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffff;
}

.body {
  padding: 2em 10em;
  font-size: calc(10px + 1vmin);
}
